.divider{
    width:20px;
    height:auto;
    display:inline-block;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.signup {
    background-color: rgb(175, 76, 76); 
    font-size: 16px;

  }
.signin {
    background-color: rgb(76, 175, 101); 
    font-size: 16px;

  }


  /*
      border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    */