<div style="text-align:center">
    <h1>
        Welcome to the Planit App!
    </h1>
    <div class="divider"></div>
    <p><b>Click Sigin to sign in or Signup to sign up</b></p>
</div>
<div style="text-align:center">
<button class="btn btn-custom center signup" type="button" (click)="signup()">Sign up</button>
<div class="divider"></div>
<button class="btn btn-custom center signin" type="button" (click)="signin()">Sign in</button>
</div>
<img src="https://www.torontosom.ca/media/1214/the-difference-between-international-and-domestic-tourism.jpg" class="center">>
