<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="text-align:center">
<h1>
    Navigation Bar
</h1>
</div>
<nav>
    <a routerLink="/distances" routerLinkActive="active">Basic Filters</a>

    <a routerLink="/signup" routerLinkActive="active">Signup</a>
    <a routerLink="/signin" routerLinkActive="active">Signin</a>


    <a routerLink="/test" routerLinkActive="active">Test</a>
    <a routerLink="/pfilters" routerLinkActive="active">Personalized filters</a>
    <a routerLink="/directions" routerLinkActive="active">directions</a>
    <a routerLink="/startpage" routerLinkActive="active">startpage</a>
</nav>





<router-outlet></router-outlet>

