<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #b1b1b1;
}
/*
h3 {
    background-color: #e21a1a;
}
p {
    background-color: #FFFFFF;
}*/
</style>
</head>
<body>
        <div style="text-align:center">
                <h3>
                    Navigation Bar
                </h3>
                </div>
                <nav class="background">
                        <div style="text-align:center">
                        <ol>
                    <a routerLink="/startpage" routerLinkActive="active">Home</a>
                        </ol>
                        </div>
                </nav>
                <router-outlet></router-outlet>
</body>

</html>


