<!DOCTYPE html>
<html>

<body ng-app="User" class="ng-scope">
<form #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)">
  <div class="ng-scope">
    <h1>Sign In</h1>

	<label for="email"><b>Username</b></label>
	<input #name="ngModel" [(ngModel)]="userService.name" placeholder="Enter username" name="username" required="">
	
	<label for="psw"><b>Password</b></label>
	<input #name="ngModel" [(ngModel)]="userService.password"placeholder="Enter Password" name="password" required="">
	<p ng-model="response"> {{response}}</p>

  <div class="clearfix">
      <button class="btn btn-custom right" type="button" (click)="onSubmit(signinForm)">Sign In</button>
  </div>
  <div class="clearfix">
      <button class="btn btn-custom right" type="button" (click)="modeChange(signinForm)">Change mode</button>
  </div>
  </div>

</form>
</body></html>