.height{
    height:1000px;
}
agm-map {
    height: 400px;
    width: 400px;
    float: left;
    padding: 5px;
}

#myPanel {
    height: 400px;
    width: 400px;
    float: left;
    overflow: auto;
    padding: 5px;
}

.b1{
    float: right;
}

.b2{
    float: right;
}

#travelForm{
    width: 400px;
}