
<div [ngClass]="{'grey' : toggle, 'white': !toggle}">
<div class="container">
  <form #travelForm="ngForm" (ngSubmit)="onSubmit(travelForm.value)">
      <div class="form-group">
        <label>Set Travel Mode</label>
        <select class="form-control" ngModel="DRIVING" name=travelMode>
          <option *ngFor="let tMode of listOfTravel">{{tMode}}</option>

        </select>
      </div>
      <button type="submit" class="btn btn-primary b1">GET DIRECTIONS</button>

  </form>

  
</div>
<div [ngClass]="{'grey' : toggle, 'white': !toggle}">
<agm-map [latitude]="slat" [longitude]="slng">
  <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination" [panel]="setPanel()" [travelMode]="travelMode">
  </agm-direction>
    
</agm-map>   
<div id="myPanel"></div>
<button class="btn btn-custom right" type="button" (click)="test()">Go to itinerary</button>
</div>
<div class="height"></div>
</div>