<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>title</title>
</head>
<div [ngClass]="{'grey' : toggle, 'white': !toggle}">
<div [style.visibility]="show1 ? 'visible' : 'hidden'" class="card">
    <p></p>
    <p style="font-family:Cursive; color:black; font-size: 25px;"> {{title[0].name}}(2.15 hours)</p>
    <button class="btn btn-custom right" type="button" (click)="direct(0,1)">Go to direction</button>
</div>
<div [style.visibility]="show2 ? 'visible' : 'hidden'" class="card">
    <p></p>
    <p style="font-family:Cursive; color:black; font-size: 25px;"> {{title[1].name}}(1.45 hours)</p>
    <button class="btn btn-custom right" type="button" (click)="direct(1,2)">Go to direction</button>
</div>
<div [style.visibility]="show3 ? 'visible' : 'hidden'" class="card">
    <p></p>
    <p style="font-family:Cursive; color:black; font-size: 25px;"> {{title[2].name}}(1.5 hours)</p>
    <button class="btn btn-custom right" type="button" (click)="direct(2,3)">Go to direction</button>
</div>
<div [style.visibility]="show4 ? 'visible' : 'hidden'" class="card">
    <p></p>
    <p style="font-family:Cursive; color:black; font-size: 25px;"> {{title[3].name}}(2.5 hours)</p>
    <button class="btn btn-custom right" type="button" (click)="direct(3,4)">Go to direction</button>
</div>
<div [style.visibility]="show5 ? 'visible' : 'hidden'" class="card">
    <p></p>
    <p style="font-family:Cursive; color:black; font-size: 25px;"> {{title[4].name}}(2 hours)</p>
    <button class="btn btn-custom right" type="button" (click)="direct(4,5)">Go to direction</button>
</div>
<div [style.visibility]="show6 ? 'visible' : 'hidden'" class="card">
  <p></p>
  <p style="font-family:Cursive; color:black; font-size: 25px;"> {{title[5].name}}(2 hours)</p>
  <button class="btn btn-custom right" type="button" (click)="direct(5,6)">Go to direction</button>
</div>
<div [style.visibility]="kia ? 'visible' : 'hidden'">1 - Name : {{title[0].name}}</div>
<form #signinForm="ngForm" (ngSubmit)="saveItinerary(signinForm)">
  <div class="ng-scope">
	<label for="email" class="labelcolor"><b>Enter Username Below</b></label>
	<input #name="ngModel" [(ngModel)]="userService.name" placeholder="Enter username of who you want to share this itinerary with here" name="username" required="">

  <div class="clearfix">
    <button class="btn btn-custom right" type="button" (click)="saveItinerary(signinForm)">Save intinerary</button>
  </div>
  </div>

</form>

<div class="height center"></div>
</div>
<body>
</body>
</html>
