<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>title</title>
</head>
<h3>Displaying results for tourist atraction; low price; radius 100;location sydeney google</h3>
<div>{{location}}</div>
<div>{{longitude}}</div>
<div>{{latitude}}</div>
<div>1 - Name : {{titleone.name}}</div>
<div>1 - Address : {{titleone.formatted_address}}</div>
<div>2 - Name : {{titletwo.name}}</div>
<div>2 - Address : {{titletwo.formatted_address}}</div>
<div>3 - Name : {{titlethree.name}}</div>
<div>3 - Address : {{titlethree.formatted_address}}</div>
<div>4 - Name : {{titlefour.name}}</div>
<div>4 - Address : {{titlefour.formatted_address}}</div>
<div>5 - Name : {{titlefive.name}}</div>
<div>5 - Address : {{titlefive.formatted_address}}</div>
<div class="clearfix">
  <button class="btn btn-custom right" type="button" (click)="saveItinerary()">Save intinerary</button>
</div>
<div>{{saveitin}}</div>
<div class="height center"></div>

<body>
</body>
</html>
