<!DOCTYPE html>
<html>
  <head>
  <style>
  body {
      background-color: #b1b1b1;
  }
  /*
  h3 {
      background-color: #e21a1a;
  }
  p {
      background-color: #FFFFFF;
  }*/
  </style>
  </head>
  
<body ng-app="User" class="ng-scope">
<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
  <div ng-controller="usercontroller" class="ng-scope">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>

	<label for="email" class= "labelcolor"><b>Username</b></label>
	<input #name="ngModel" [(ngModel)]="userService.name"  class= "labelcolor" placeholder="Enter username" name="username" required="">
	
	<label for="psw" class= "labelcolor"><b>Password</b></label>
	<input #name="ngModel" [(ngModel)]="userService.password"placeholder="Enter Password" name="password" required="">

  <div class="clearfix">
      <button class="btn btn-custom right" type="button" (click)="onSubmit(signupForm)">Sign up</button>
  </div>
  </div>

</form>
<div class="height center"></div>
</body></html>