<div [ngClass]="{'grey' : toggle, 'white': !toggle}">
<div class="center">
<h1>Hello, {{username}}</h1>
<h2>Current Itinerary stored:</h2>
<ul>
    <li *ngFor="let a of array">
      {{ a }}
    </li>
  </ul>
<div class="clearfix">
    <button class="btn btn-custom right" type="button" (click)="modeChange()">Change mode</button>
</div>
<div class="clearfix">
    <button class="btn btn-custom right" type="button" (click)="gotoDistance()">Go to basic filters</button>
</div>
</div>
<div class="height center"></div>
</div>