
agm-map {
    height: 400px;
    width: 400px;
    float: left;
    padding: 5px;
}

#myPanel {
    height: 400px;
    width: 400px;
    float: left;
    overflow: auto;
}

button{
    position: absolute;
    left: 100px;
    top: 450px;
}