<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #b1b1b1;
}
/*
h3 {
    background-color: #e21a1a;
}
p {
    background-color: #FFFFFF;
}*/
</style>
</head>
<body><div class="center">
<!---
<p>Parks</p><button (click)="onToggleFilter('parks')">Toggle Parks</button>
<p>Museums</p><button (click)="onToggleFilter('museums')">Toggle Museums</button>
<p>Restaurants</p><button (click)="onToggleFilter('restaurants')">Toggle Restaurants</button>
<p>Movies</p><button (click)="onToggleFilter('movies')">Toggle Movies</button>
<div class="height"></div>
-->

<button class="btn btn-custom right" type="button" (click)="test()">Go to itinerary</button>
<div class="topheight"></div>
<h2>Click on button to toggle that filter on</h2>
<div class="topheight"></div>
<button class="btn btn-custom center" type="button" (click)="onClickpark()" [ngClass]="{'teal' : togglepark, 'green': !togglepark}">Park</button>
<div class="divider"></div>
<button class="btn mat-button btn-custom center" type="button" (click)="onClickmuseum()" [ngClass]="{'teal' : togglemus, 'green': !togglemus}">Museum</button>

<div class="divider"></div>
<button class="btn btn-custom center" type="button" (click)="onClickrestaurant()" [ngClass]="{'teal' : toggleres, 'green': !toggleres}">Restaurant</button>

<div class="divider"></div>
<button class="btn btn-custom center" type="button" (click)="onClickmovie()" [ngClass]="{'teal' : togglemov, 'green': !togglemov}">Movie</button>
<div class="height center"></div>
</div>
</body>
</html>

