<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="controllers/usercontrol.js"></script>

<body ng-app="User" class="ng-scope">
<form>
  <div ng-controller="usercontroller" class="ng-scope">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>

	<label for="email"><b>Username</b></label>
	<input ng-model="newname" type="text" placeholder="Enter username" name="username" required="">
	
	<label for="psw"><b>Password</b></label>
	<input ng-model="newpassword" type="password" placeholder="Enter Password" name="psw" required="">
	<p ng-model="response"> {{response}}</p>

    <div class="clearfix">
      <button ng-click="addUser(newname, newpassword)">Sign Up</button>
    </div>
  </div>

</form>
</body></html>