

    
<div [ngClass]="{'grey' : toggle, 'white': !toggle}">
    <form [formGroup]="sform">
        <div class="row">
            <div class="col-md-6">
                    <div class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" formControlName="Budget" id="Budget" class="form-control">
                            <label for="Budget" class="labelcolor">Budget</label>
                            </div>
                            <br>
                            <div class="md-form">
                            <i class="fa fa-user-secret prefix grey-text"></i>
                            <input type="text" id="Distance" formControlName="Distance" class="form-control" >
                             <label for="Distance" class="labelcolor">Radius</label>
                            </div>
                            <div class="md-form">
                                    <i class="fa fa-user-secret prefix grey-text"></i>
                                    <input type="text" id="Longitude" formControlName="Longitude" class="form-control" >
                                     <label for="Longitude" class="labelcolor">Longitude</label>
                                    </div>
                                    <div class="md-form">
                                            <i class="fa fa-user-secret prefix grey-text"></i>
                                            <input type="text" id="Latitude" formControlName="Latitude" class="form-control" >
                                             <label for="Latitude" class="labelcolor">Latitude</label>
                                            </div>
                                            <div class="md-form">
                                                    <i class="fa fa-user-secret prefix grey-text"></i>
                                                    <input type="text" id="Start" formControlName="Start" class="form-control" >
                                                     <label for="Start" class="labelcolor">Start time</label>
                                                    </div>
                                                    <div class="md-form">
                                                            <i class="fa fa-user-secret prefix grey-text"></i>
                                                            <input type="text" id="Endi" formControlName="End" class="form-control" >
                                                             <label for="End" class="labelcolor">End time</label>
                                                            </div>

                            <button class="btn btn-custom left" type="button" (click)="form()">Go to personalized filters</button>
            </div>
         </div>
    </form>
    <div class="height center" [ngClass]="{'grey' : toggle, 'white': !toggle}"></div>
</div>
